
.login{
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  gap: 10px;
}

.login form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.login h1{
  text-align: center;
}


