
.register{
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  gap: 10px;
}

.register form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register .field{
  background-color: rgba(241, 240, 240, 0.815);
  border-radius: 10px;

  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register h1{
  text-align: center;
}


/* .register .field.error{
  background-color: rgba(255, 0, 0, 0.096);
} */

.register span{
  height: 18.4px;
}

.register span.error{
  color: red;
}