.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px; */
  gap: 10px;
}

.profile h1 {
  text-align: center;
}

.profile .data {
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile p,
.profile h2 {
  margin: 0;
}

.profile.edit {
  font-size: 0.8rem;
  font-weight: bolder;
}

.profile.read .field {
  display: flex;
  flex-direction: column;
  gap: 5px;

  justify-content: center;

  background-color: lightgray;
  border-radius: 10px;
  padding: 10px 10px;
}

.profile.read .username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 5px;
}

.profile .buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
