
.profile{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.profile form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile .field{
  background-color: rgba(241, 240, 240, 0.815);
  border-radius: 10px;

  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile h1{
  text-align: center;
}


/* .profile .field.error{
  background-color: rgba(255, 0, 0, 0.096);
} */

.profile span{
  height: 18.4px;
}

.profile span.error{
  color: red;
}