.custom-text-input{
  background-color: inherit;
  position: relative;
  width: 100%;
}

.custom-text-input input{
  position: relative;
  padding: 7px 5px;
  border: 3px solid lightgray;
  border-radius: 5px;

  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

.custom-text-input label{
  margin-left: 5px;
  /* font-size: 0.8rem; */
  font-weight: bold;
  text-transform: capitalize;
}



.custom-text-input.valid{
  border-color: green;
}

.custom-text-input.invalid{
  border-color: red;
}

.custom-text-input .error{
  margin: 0;
  margin-left: 5px;
  background-color: rgb(255, 72, 0);
  border-radius: 5px;
  padding: 5px;
  color: white;
  width: fit-content;
}