.item{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item .result{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.item .result > *{
  height: 20px;
}

.item .result > *:nth-child(2){
  width: 20px;
}

.item .ingredients{
  overflow-y: hidden;
}