.input-autocomplete{
  display: flex;
  flex-direction: column;
  gap: 5px;

  position: relative;
}

.input-autocomplete>input{
  position: relative;
  padding: 7px 5px;
  border: 3px solid lightgray;
  border-radius: 5px;

  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

.input-autocomplete>*{
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.input-autocomplete> .options{
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(119, 119, 119);  

  position: absolute;
  top: 100%;

  display: flex;
  flex-direction: column;
  gap: 4px;

  height: min(fit-content, 130px);
  overflow: auto;
}

.input-autocomplete > .options > span{
  padding: 5px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 3px;
}
