body, html{
  margin: 0;
  width: 100%;
  height: 100%;
}

.app{
  width: 100vw;
  height: 90vh;
  position: relative;
}

.background-image{
  position: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.page{
  /* background-color: rgba(255, 255, 255, 0.685); */
  overflow: auto;
  height: calc(100% - 40px);
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
}
.page > *{
  padding-top: 40px !important;
  width: 100%;
}

.navbar{

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 40px;
  padding: 5px;
  box-sizing: border-box;


  /* position: absolute; */
  bottom: 0;
  width: 100%;
  
  /* background-color: rgb(52, 140, 223); */
  background-color: #2c3e50;
  font-size: 1.5rem;

  box-sizing: border-box;

  user-select: none;
}

.navbar a{
  color: white;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navbar p{
  margin: 0;
  display: none;
}



/* RESPONSIVE MOBILE --> DESKTOP */
/* fix the size of the forms */
@media only screen and (min-width: 351px) {
  .page form{
    width: min(100%, 350px);
    margin: auto;
  }
 
}


@media only screen and (min-width: 650px) {
  .navbar p{
    display: block;
    /* padding-top: 5px; */
  }

  .navbar{
    top: 0;
    justify-content: center;
    gap: 20px;
    height: 50px;
  }

  .navbar a{
    /* color: rgb(63, 63, 63); */
    font-size: 1.2rem;

    padding: 5px 20px;
    /* background-color: rgba(255, 255, 255, 0.582); */
    border-radius: 20px;

    height: fit-content;

    display: flex;
    align-items: center;
  }

  .navbar a:hover{
    color: rgb(207, 207, 207);
  }

  .navbar > a> *:not(p){
    display: none;
  }

  .page{
    padding-top: 50px;
  }
}
