body{
  margin: 0;
}

h1{
  margin-top: 0px;
  margin-bottom: 10px;
}

*{
  font-family: sans-serif;
}

a{
  /* color: #2980b9; */
  text-decoration: none;
}

h1 {
  text-align: center;
}

p{
  overflow-wrap: break-word;
}